<div class="home">
    <div class="container">

    </div>
    <div class="profile-image1" id="home">
        <img src="./assets/img/me1.png">
    </div>
    <div class="background-effects">
        <img src="./assets/img/1bg.png">
    </div>
    <div class="background-cut">
        <img src="./assets/img/cut.png">

    </div>
    <div class="me">
        <div class="i-am">
            <span>I am</span>
        </div>
        <div class="my-name">
            <h2>
                <span>I</span>
                <span style="color: #825afa">l</span>
                <span>m</span>
                <span>a</span>
                <span style="color: #01B9E2">r</span>
            </h2>
            <h2>
                <span>K</span>
                <span>e</span>
                <span style="color: #01B9E2">r</span>
                <span>n</span>
                <span>e</span>
                <span style="color: #01B9E2">r</span>
            </h2>
        </div>
        <div class="profesionality">
            <h2>FRONTEND DEVELOPER</h2>
        </div>
        <div class="lets-talk">
            <a href="#contact">Let's talk!</a>
        </div>
    </div>
    <div class="line1">
        <img src="./assets/img/line.png">
    </div>
    <div class="home-footer">
        <div class="contacts">
            <a href="https://github.com/IlmarKerner" target="_blank"><img src="./assets/img/github.png"></a>
            <a href="#contact"><img src="./assets/img/email.png"></a>
            <a href="https://www.linkedin.com/in/ilmar-kerner-a7a023263/" target="_blank"><img src="./assets/img/linkedin.png" target="_blank"></a>
            <p>kernerilmar@mail.com</p>
        </div>
    </div>
    <div class="scroll-down">
        <a>Scroll down &rarr;</a>
    </div>
    <div class="home-footer-shadow">
        <img src="./assets/img/purple1.png">
    </div>
</div>