.footer-container {
    width: 100vw;
    height: 291px;
    background: #141D2F;
    border-top: 4px solid #00BEE8;
    position: relative;
    display: flex;
    @media (max-width: 950px) {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    h1 {
        position: absolute;
        width: 216px;
        height: 40.14px;
        left: 100px;
        top: 121px;
        color: white;
        font-family: "Poppins";
        margin: 0;
        @media (max-width: 950px) {
            width: 100%;
            text-align: center;
            left: 0;
            right: 0;
            top: 40px;
        }
    }
    @media (max-width: 950px) {
        width: 100%;
    }
}

.impressum-button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px 10px;
    gap: 3px;
    position: absolute;
    width: 111px;
    height: 32px;
    left: 91px;
    top: 166px;
    cursor: pointer;
    @media (max-width: 950px) {
        text-align: center;
        left: 50%;
        transform: translate(-50%);
        padding: 0;
        top: 230px
    }
    h2 {
        margin: 0;
        width: 91px;
        height: 19px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: #FFFFFF;
        @media (max-width: 950px) {
            width: 100%;
        }
    }
}

.underline-impressum {
    @media(min-width: 951px) {
        position: relative;
    }
}

.underline-impressum::after {
    @media(min-width: 951px) {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 4px;
        background-color: #00BEE8;
        z-index: 2;
        transition: width 0.2s;
    }
}

.underline-impressum:hover::after {
    @media(min-width: 951px) {
        width: 66.66%;
    }
}

.copyright {
    position: absolute;
    width: 236px;
    height: 28px;
    left: 50%;
    transform: translate(-50%);
    top: 133.14px;
    @media (max-width: 950px) {
        left: 50%;
        transform: translate(-50%);
        text-align: center;
    }
    p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 120%;
        color: #FFFFFF;
        margin: 0;
        ;
    }
}

.social-icons {
    width: 200px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 100px;
    top: 133px;
    @media (max-width: 950px) {
        top: 180px;
        left: 50%;
        transform: translate(-50%);
    }
    img {
        width: 30px;
        height: 30px;
        cursor: pointer;
        &:hover {
            transform: scale(1.5);
            transition: all 125ms ease-in-out;
        }
    }
}