<div class="footer-container">
    <div class="footer-name">
        <h1 routerLink="/" class="underline-name">
            <span>I</span>
            <span style="color: #4A46FC">l</span>
            <span>m</span>
            <span>a</span>
            <span style="color: #01B9E2">r</span>
        </h1>
    </div>
    <div class="impressum-button">
        <h2 class="underline-impressum" routerLink="/imprint">Imprint</h2>
    </div>
    <div class="copyright">
        <p>&copy; Ilmar Kerner 2023</p>
    </div>
    <div class="social-icons">
        <a href="https://github.com/IlmarKerner" target="_blank"><img src="./assets/img/github.png"></a>
        <a href="#contact"><img src="./assets/img/email.png"></a>
        <a href="https://www.linkedin.com/in/ilmar-kerner-a7a023263/" target="_blank"><img src="./assets/img/linkedin.png" target="_blank"></a>
    </div>
</div>