<div class="fifth-project">
    <div class="fifth-project-container" data-aos="flip-down">
        <div>
            <img src="./assets/img/crypto-converter.png">
        </div>
        <div class="fifth-project-description">
            <h2>Crypto Converter</h2>
            <h3>Angular | Typescript | RestAPI | HTML | CSS</h3>
            <p>A very Simple Customer Relationship Management system working with CRUD functionality.</p>
            <div class="fifth-project-buttons">
                <a href="#"><button class="fifth-live-test">Live test</button></a>
                <a href="#"><button class="fifth-github">Github</button></a>
            </div>
        </div>
    </div>
</div>