<div class="third-project">
    <div class="third-project-container" data-aos="fade-right">
        <div class="third-project-description">
            <h2>Join</h2>
            <h3>Javascript | HTML | CSS</h3>
            <p>I developed a Kanban tool using JavaScript, HTML, and CSS. It allows for easy incident creation with subtasks, and enables drag-and-drop functionality to move tickets across various status levels..</p>
            <div class="third-project-buttons">
                <a href="https://ilmar-kerner.developerakademie.net/Join/index.html" target="_blank"><button class="third-live-test">Live test</button></a>
                <a href="https://github.com/IlmarKerner/Join" target="_blank"><button class="third-github">Github</button></a>
            </div>
        </div>
        <div>
            <img src="./assets/img/join.png">
        </div>
    </div>
</div>