<div class="about-content" id="about">
    <div class="description">
        <div class="container">

        </div>
        <div class="about-me">

            <h1>About me</h1>
        </div>
        <div class="regular">
            <p>This interest ultimately motivated me to deepen my knowledge in programming. Thus I built various projects and expanded my knowledge while getting regular code reviews by experienced developers. I am looking forward to building on my project
                experience and starting my career in IT in a junior developer position.</p>
        </div>
        <div class="personal1">
            <div class="bulb">
                <img src="./assets/img/bulb.png">
            </div>
            <p>If you're looking for a reliable and experienced frontend developer who can transform your ideas into reality, then look no further. Let's work together to bring your vision to life and create something truly exceptional.</p>
        </div>
        <div class="personal2">
            <div class="puzzle">
                <img src="./assets/img/puzzle.png">
            </div>
            <p>Thank you for visiting my website. Feel free to explore my portfolio and get in touch with me to discuss your project requirements.And let me be the last puzzle for your success.</p>
        </div>
    </div>
    <div class="about-image">
        <img src="./assets/img/me2.png">

    </div>
    <div class="line2">
        <img src="./assets/img/line2.png">
    </div>
</div>