<div class="container">
    <div class="container-description">
        <h1>Imprint</h1>

        <h2>According to&auml;&szlig; &sect; 5 TMG</h2>
        <span>Ilmar Kerner<br> Petersbergweg 3 <br> 83126 Flintsbach am Inn <br>Germany</span>

        <h2>Contact</h2>
        <p>Phone: +49 163 7667 392<br /> E-Mail: kernerilmar@gmail.com</p>

        <p>Source: <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>
    </div>

    <img class="blur-right" src="./assets/img/shadow-blue.png">
    <img class="blur-left" src="./assets/img/shadow-blue2.png" alt="">
</div>