<div class="first-project">
    <div class="first-project-container" data-aos="fade-right">
        <div class="first-project-description">
            <h2>My portfolio</h2>
            <h3>Angular | Typescript | HTML | CSS</h3>
            <p>Welcome to my portfolio page! I'm excited to share with you some of the projects I've worked on using Angular, TypeScript, HTML, and CSS. Browse through my collection of works and see how I've applied my skills to create beautiful and functional
                applications.
            </p>
            <div class="first-project-buttons">
                <a href="https://ilmar-kerner.de" target="_blank"><button class="first-live-test">Live test</button></a>
                <a href="https://github.com/IlmarKerner/Portfolio" target="_blank"><button class="first-github">Github</button></a>
            </div>
        </div>
        <div>
            <img src="./assets/img/portfolio.png">
        </div>
    </div>
    <div class="blue-shadow2">
        <img src="./assets/img/shadow-blue2.png">
    </div>
</div>